.logout-container {
    margin-right: 0; /* Elimina el margen derecho adicional */
    padding-right: 10px; /* Ajusta el espaciado de la derecha */
  }
  
  .logout-icon {
    width: 30px; /* Tamaño de la imagen */
    height: 30px;
  }