ion-content {
  --background: #87dcf8; /* Fondo más claro para el contenido */
}

ion-card {
  background-color: #e0f7fa; /* Celeste */
  margin-bottom: 20px; /* Espaciado entre tarjetas */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

ion-card-header {
  background-color: #3880ff; /* Azul oscuro */
  color: rgb(255, 255, 255); /* Texto blanco */
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}

ion-card-title {
  color: rgb(0, 0, 0); /* Título negro */
  font-size: 1.4rem;
  font-weight: bold;
}

ion-card-content {
  padding: 15px;
  color: #060808; /* Verde oscuro para el contenido */
  font-size: 1.1rem;
}

.logout-container {
  margin-right: 0; /* Elimina el margen derecho adicional */
  padding-right: 10px; /* Ajusta el espaciado de la derecha */
}

.logout-icon {
  width: 30px; /* Tamaño de la imagen */
  height: 30px;
}
ion-toolbar {
  ion-title {
    color: rgb(255, 255, 255); /* Texto blanco */
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
    
  }
  ion-buttons {
    ion-button {
      color: white; /* Botones blancos */
    }
  }